.img-div{
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 8rem;
  width: 40%;
  margin: 0.1rem;
}

.image{
  width: 100%;
  height: 100%;
  background: no-repeat center;
  background-size: contain;
}
.digest-component{
  width: 12rem;
  height: 12rem;
  margin: 0.2rem;
  box-sizing: content-box;
  padding: 0.2rem;

}