.equip-component{
  height: 17rem;
}
.img-div{
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 14rem;
  width: 40%;
  margin: 0.1rem;
}

.image{
  width: 100%;
  height: 100%;
  background: no-repeat center;
  background-size: contain;
}