@import "Mixins";
.pack-component{
  width: 14rem;
  height: 14rem;
  margin: 0.2rem;
  box-sizing: content-box;
  padding: 0.2rem;

}
.img-div{
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 11rem;
  margin: 0.1rem;
}

.image{
  width: 100%;
  height: 100%;
  background: no-repeat center;
  background-size: contain;
}


