@import "Mixins";
@import "FoundationStyle";

.root-component{
  height: 100%;
  width: 100%;
  margin: 0;
  //background: gray;
  background: url("img/back.jpg") no-repeat;
  background-size: cover;
}
.outlet{
  overflow: auto;
}
.field{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  cursor: default;
}
.selected{
  @include box-shadow-inset(0px, 0px, 1px, 1px,rgba(25, 25, 25, 0.5));
  background: rgba(219, 219, 217, 1) !important;
}
.unselected{
  @include unselected;
}
.cursor-default{
  cursor: default;
}
.cursor-pointer{
  cursor: pointer;
}
.light-text{
  font-size: 1.2rem;
color: #e6e6e6;
}
.zero-padding{
  padding: 0 !important;
}
.callout{
  background: rgba(0,0,0,0.22);
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.1s cubic-bezier(.25,.8,.25,1);
}
.callout:hover{
  box-shadow: 0 0 10px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22);
}
.button{
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 1px rgba(0,0,0,0.24);
}
.button:hover{
  box-shadow: 0 0 2px 2px rgba(0,0,0,0.22) inset;
}
.hollow{
  border: 0 !important;
}

.output-component{
  position: absolute;
  width: 35%;
  height: auto;
  z-index: 50005;
  left: 65%;
}

