<div class="row small-12 middle-12 large-12 align-center">
    <div class="small-3 middle-2 large-2 callout columns" style="height: 85%;margin-left: 1rem;margin-right: 0.5rem">
        <button class="button light hollow expanded" (click)="bs.clearBucket()">Очистить</button>
        <button class="button light hollow expanded">Оформить</button>
        <div *ngIf="auth.form">
            <b style="color: #e6e6e6">Email</b>
            <input [(ngModel)]="auth.email" type="email">
            <b style="color: #e6e6e6">Пароль</b>
            <input [(ngModel)]="auth.password" type="password">
            <button class="button light hollow expanded" (click)="auth.login()">Вход</button>
        </div>
        <div>
            <b style="color: #e6e6e6">Сумма:</b>
            <b style="color: #e6e6e6">{{bs.bucket.sum}}</b>
            <br>
            <b style="color: #e6e6e6">Вес:</b>
            <b style="color: #e6e6e6">{{bs.bucket.weight}}</b>
        </div>
    </div>
    <div class="callout" style="height: 85%; width: 60%">
        <div style="display: flex" *ngFor="let item of bs.bucket.collection">
            <div class="callout" style="width: 8rem; height: 4rem; padding: 0.1rem">
                <div class="text-center">
                    <div style="color: #e6e6e6;font-weight: bold">Цена:</div>
                    <div style="color: #e6e6e6;">{{item.obj?.price*item.quantity}} р</div>
                </div>
            </div>
            <div class="callout" style="width: 8rem; height: 4rem; padding: 0.1rem">
                <div class="text-center">
                    <div style="color: #e6e6e6;font-weight: bold">Вес:</div>
                    <div style="color: #e6e6e6;">{{item.obj?.weight*item.quantity}} г</div>
                </div>
            </div>
            <div class="callout" style="width: auto; height: 4rem; padding: 0.1rem">
                <div>
                    <span style="color: #e6e6e6;font-weight: bold;margin-left: 1rem">Упаковка: </span>
                    <span style="color: #e6e6e6;margin-right: 1rem">{{item.obj?.name}}</span>
                </div>
                <div>
                    <span style="color: #e6e6e6;font-weight: bold;margin-left: 1rem">Комплектация: </span>
                    <span style="color: #e6e6e6;margin-right: 1rem" *ngIf="item.obj?.equip?.id">{{catalogservice.getEquipById(item.obj?.equip?.id)?.name}}</span>
                    <span style="color: #e6e6e6;margin-right: 1rem" *ngIf="!item.obj?.equip?.id">Пустой</span>
                </div>
            </div>
            <input [(ngModel)]="item.quantity" type="number" style="width: 3rem; height: 4rem"
                   placeholder="Количество" (change)="bs.recalcBucket()">
            <div style="display: flex; justify-content: center;align-content: center;align-items: center; height: 4rem">
                <button (click)="removeFromBucket(item)" class="fa fa-2x fa-remove"
                        style="color: #e6e6e6"></button>
            </div>
        </div>
    </div>
</div>