<div class="row small-12 middle-12 large-12 ">
    <div class="callout" style="width: 100%;padding: 0;margin-left: 1rem">
        <a class="button hollow light" (click)="entity='pack'">Подарки</a>
        <a class="button hollow light" (click)="entity='equip'">Комплектации</a>
        <a class="button hollow light" (click)="entity='sweet'">Продукция</a>
        <a class="button hollow light" *ngIf="auth.token!=null" (click)="entity='digest'">Справочники</a>
    </div>
    <div class="small-3 middle-2 large-2 callout columns" style="height: 80%;margin-left: 1rem;margin-right: 0.5rem">
        <select *ngIf="entity=='digest'" [(ngModel)]="digest">
            <option value="type">Тип продукта</option>
            <option value="packtype">Вид упаковки</option>
            <option value="factory">Фабрика</option>
        </select>
        <input [(ngModel)]="filterMain" type="text" placeholder="Найти">
        <button *ngIf="auth.token!=null" class="button hollow light expanded" (click)="creator=!creator">
            <b>Редактор</b>
        </button>

    </div>

    <div *ngIf="entity=='sweet'" class="callout columns"
         style="height: 80%;display: flex; flex-wrap: nowrap; overflow: auto">
        <div *ngIf="creator" class="small-4 middle-3 large-3 callout columns">
            <div *ngIf="entity=='sweet'" class="expanded">
                <b *ngIf="catalogservice.sweet.id==null" style="color: #e6e6e6">Добавить продукт</b>
                <b *ngIf="catalogservice.sweet.id!=null" style="color: #e6e6e6">Изменть продукт</b>
                <input [(ngModel)]="catalogservice.sweet.name" type="text" placeholder="Название*">
                <input [(ngModel)]="catalogservice.sweet.price" type="number" placeholder="Цена">
                <input [(ngModel)]="catalogservice.sweet.weight" type="number" placeholder="Вес">
                <b style="color: #e6e6e6"> Тип продукта</b>
                <select [(ngModel)]="catalogservice.sweet.type"
                        (change)="catalogservice.setSubtypes(catalogservice.sweet.type)">
                    <option *ngFor="let item of catalogservice.typelist" value="{{item.id}}">{{item?.name}}</option>
                </select>
                <b style="color: #e6e6e6"> Вид продукта</b>
                <select [(ngModel)]="catalogservice.sweet.subtype">
                    <option *ngFor="let subitem of catalogservice.subtypelist" value="{{subitem}}">{{subitem}}</option>
                </select>
                <b style="color: #e6e6e6">Производитель</b>
                <select [(ngModel)]="catalogservice.sweet.factory">
                    <option *ngFor="let item of catalogservice.factorylist" value="{{item.id}}">{{item?.name}}</option>
                </select>
                <textarea [(ngModel)]="catalogservice.sweet.description" placeholder="Описание"></textarea>
                <b style="color: #e6e6e6">Есть в наличии</b>
                <input [(ngModel)]="catalogservice.sweet.enabled" style="margin-left: 0.5rem" type="checkbox" checked>
                <upload-files-component></upload-files-component>
                <button (click)="updateOrAddSweet(catalogservice.sweet)" class="button light hollow expanded">
                    <b *ngIf="catalogservice.sweet.id==null">Добавить</b>
                    <b *ngIf="catalogservice.sweet.id!=null">Изменить</b>
                </button>
            </div>


        </div>
        <div class="columns" style="display: flex; flex-direction: row;flex-wrap: wrap; overflow: auto">
            <sweet-comonent *ngFor="let item of catalogservice.sweetlist | filter:{name:filterMain}"
                            [sweet]="item"></sweet-comonent>
        </div>

    </div>

    <div *ngIf="entity=='equip'" class="callout columns"
         style="display: flex;flex-wrap: nowrap; height: 80%; overflow: auto">

        <div *ngIf="creator" style="display: flex;flex-wrap: nowrap;" class="columns">

            <div class="callout columns">
                <div class="expanded">
                    <b style="color: #e6e6e6">Сформировать компектацию</b>
                    <input [(ngModel)]="catalogservice.equip.name" type="text" placeholder="Название*">
                    <input [(ngModel)]="catalogservice.equip.price" type="number" placeholder="Цена">
                    <input [(ngModel)]="catalogservice.equip.weight" type="number" placeholder="Вес">
                    <textarea [(ngModel)]="catalogservice.equip.description" placeholder="Описание"></textarea>
                    <upload-files-component></upload-files-component>
                    <button (click)="updateOrAddEquip(catalogservice.equip)" class="button light hollow expanded">
                        <b *ngIf="catalogservice.equip.id==null">Добавить</b>
                        <b *ngIf="catalogservice.equip.id!=null">Изменить</b>
                    </button>
                </div>
            </div>
            <div class="callout">
                <b style="color: #e6e6e6">Содержимое комплектации</b>
                <div *ngFor="let item of catalogservice.equip.collection" style="display: flex">
                    <input [(ngModel)]="item.quantity" type="number" style="width: 3rem; height: 2rem" (change)="recalcEquip()"
                           placeholder="Количество">
                    <sweet-comonent [view]="'line'" [sweet]="catalogservice.getSweetById(item.id)"
                                    style="height: 2rem"></sweet-comonent>
                    <div style="display: flex; justify-content: center;align-content: center;align-items: center; height: 2rem">
                        <button (click)="deleteSweetFromEquipCollection(item.id)" class="fa fa-2x fa-arrow-right"
                                style="color: #e6e6e6"></button>
                    </div>
                </div>
            </div>
            <div class="callout">
                <b style="color: #e6e6e6">Доступно</b>
                <div *ngFor="let item of catalogservice.sweetlist | filter:{name:filterMain}" style="display: flex;">
                    <div style="display: flex; justify-content: center;align-content: center;align-items: center">
                        <button (click)="addSweetToEquipCollection(item)" class="fa fa-2x fa-arrow-left"
                                style="color: #e6e6e6"></button>
                    </div>
                    <sweet-comonent [view]="'line'" [sweet]="item"></sweet-comonent>
                </div>
            </div>
        </div>
        <div class="columns">
            <equip-component *ngFor="let item of catalogservice.equiplist | filter:{name:filterMain}"
                             [equip]="item"></equip-component>
        </div>
    </div>

    <div *ngIf="entity=='pack'" class="callout columns"
         style="display: flex;flex-wrap: nowrap; height: 80%; overflow: auto">

        <div *ngIf="creator" style="display: flex;flex-wrap: nowrap;" class="small-4 middle-3 large-3 callout columns">
            <div *ngIf="entity=='pack'" class="expanded">
                <label><b style="color: #e6e6e6">Добавить подарок</b>
                    <input [(ngModel)]="catalogservice.pack.name" type="text" placeholder="Название*">
                    <input [(ngModel)]="catalogservice.pack.price" type="number" placeholder="Цена">
                    <input [(ngModel)]="catalogservice.pack.weight" type="number" placeholder="Вес">
                    <b style="color: #e6e6e6">Тип упаковки</b>
                    <select [(ngModel)]="catalogservice.pack.material">
                        <option *ngFor="let item of catalogservice.packtypelist" value="{{item.id}}">{{item?.name}}
                        </option>
                    </select>
                    <textarea [(ngModel)]="catalogservice.pack.description" placeholder="Описание"></textarea>
                    <upload-files-component></upload-files-component>
                    <b style="color: #e6e6e6">Есть в наличии</b>
                    <input [(ngModel)]="catalogservice.pack.enabled"
                           style="margin-left: 0.5rem" type="checkbox"
                           checked>
                    <b style="color: #e6e6e6">Распродажа</b>
                    <input [(ngModel)]="catalogservice.pack.sale"
                           style="margin-left: 0.5rem" type="checkbox"
                           checked>

                </label>
                <button (click)="updateOrAddPack(catalogservice.pack)" class="button light hollow expanded">
                    <b *ngIf="catalogservice.pack.id==null">Добавить</b>
                    <b *ngIf="catalogservice.pack.id!=null">Изменить</b>
                </button>
            </div>
        </div>
        <div class="columns" style="display: flex; flex-direction: row;flex-wrap: wrap; overflow: auto">
            <pack-component *ngFor="let item of catalogservice.packlist | filter:{name:filterMain}"
                            [pack]="item"></pack-component>
        </div>
    </div>

    <div *ngIf="entity=='digest'" class="callout columns"
         style="display: flex;flex-wrap: nowrap; height: 80%; overflow: auto">

        <div *ngIf="creator" style="display: flex;flex-wrap: nowrap;" class="small-4 middle-3 large-3 callout columns">
            <div *ngIf="digest=='factory'" class="expanded">
                <label><b style="color: #e6e6e6">Добавить фабрику</b>
                    <input [(ngModel)]="catalogservice.factory.name" type="text" placeholder="Название*">
                    <textarea [(ngModel)]="catalogservice.factory.description" placeholder="Описание"></textarea>
                    <upload-files-component></upload-files-component>
                </label>
                <button (click)="updateOrAddFactory(catalogservice.factory)" class="button light hollow expanded">
                    <b *ngIf="catalogservice.factory.id==null">Добавить</b>
                    <b *ngIf="catalogservice.factory.id!=null">Изменить</b>
                </button>
            </div>
            <div *ngIf="digest=='type'" class="expanded">
                <label><b style="color: #e6e6e6">Добавить тип продукции</b>
                    <input [(ngModel)]="catalogservice.type.name" type="text" placeholder="Название*">
                    <textarea [(ngModel)]="catalogservice.type.description" placeholder="Описание"></textarea>
                    <textarea [(ngModel)]="subtypesline" (keyup)="splitAndSetSutypes()" placeholder="Виды"></textarea>
                    <upload-files-component></upload-files-component>
                    <button (click)="updateOrAddType(catalogservice.type)" class="button light hollow expanded">
                        <b *ngIf="catalogservice.type.id==null">Добавить</b>
                        <b *ngIf="catalogservice.type.id!=null">Изменить</b>
                    </button>
                </label>
            </div>
            <div *ngIf="digest=='packtype'" class="expanded">
                <label><b style="color: #e6e6e6">Добавить тип упаковки</b>
                    <input [(ngModel)]="catalogservice.packtype.name" type="text" placeholder="Название*">
                    <textarea [(ngModel)]="catalogservice.packtype.description" placeholder="Описание"></textarea>
                    <upload-files-component></upload-files-component>
                    <button (click)="updateOrAddPacktype(catalogservice.packtype)" class="button light hollow expanded">
                        <b *ngIf="catalogservice.packtype.id==null">Добавить</b>
                        <b *ngIf="catalogservice.packtype.id!=null">Изменить</b>
                    </button>
                </label>
            </div>
        </div>

        <div *ngIf="digest=='type'" class="columns"
             style="display: flex; flex-direction: column;flex-wrap: wrap; overflow: auto">
            <div class="digest-component callout" style="width: 100%; height: 10rem"
                 *ngFor="let item of catalogservice.typelist | filter:{name:filterMain}"
                 (click)="alterType(item,$event)">
                <div class="img-div" style="width: 100%;flex-direction: row">
                    <div class="image" style="width: 7rem"
                         [ngStyle]="{'background-image':'url(' +davservice.url+item?.image_link + ')'}"></div>
                    <div style="width: 14rem; margin-left: 3rem; color: #e6e6e6">
                        <p>Описание:</p>
                        {{item?.description}}
                    </div>
                </div>

                <div class="text-center">
                    <b style="color: #e6e6e6;">{{item?.name}}</b>
                </div>
            </div>
        </div>

        <div *ngIf="digest=='packtype'" class="columns"
             style="display: flex; flex-direction: column;flex-wrap: wrap; overflow: auto">
            <div class="digest-component callout" style="width: 100%; height: 10rem"
                 *ngFor="let item of catalogservice.packtypelist | filter:{name:filterMain}"
                 (click)="alterPacktype(item,$event)">
                <div class="img-div" style="width: 100%;flex-direction: row">
                    <div class="image" style="width: 7rem"
                         [ngStyle]="{'background-image':'url(' +davservice.url+item?.image_link + ')'}"></div>
                    <div style="width: 14rem; margin-left: 3rem; color: #e6e6e6">
                        <p>Описание:</p>
                        {{item?.description}}
                    </div>
                </div>
                <div class="text-center">
                    <b style="color: #e6e6e6;">{{item?.name}}</b>
                </div>
            </div>
        </div>

        <div *ngIf="digest=='factory'" class="columns"
             style="display: flex; flex-direction: column;flex-wrap: wrap; overflow: auto">
            <div class="digest-component callout" style="width: 100%; height: 10rem"
                 *ngFor="let item of catalogservice.factorylist | filter:{name:filterMain}"
                 (click)="alterFactory(item,$event)">
                <div class="img-div" style="width: 100%;flex-direction: row">
                    <div class="image" style="width: 7rem"
                         [ngStyle]="{'background-image':'url(' +davservice.url+item?.image_link + ')'}"></div>
                    <div style="width: 14rem; height: 100%; margin-left: 3rem; color: #e6e6e6; overflow: auto">
                        <b>Описание:</b>
                        <div>{{item?.description}}</div>
                    </div>
                </div>
                <div class="text-center">
                    <b style="color: #e6e6e6;">{{item?.name}}</b>
                </div>
            </div>
        </div>
    </div>

    <sweet-modal-component *ngIf="catalogservice.sweetModal.visible"
                           [sweetModal]="catalogservice.sweetModal"></sweet-modal-component>
    <pack-modal-component *ngIf="catalogservice.packModal.visible"
                          [packModal]="catalogservice.packModal"></pack-modal-component>
</div>