<div class="callout" style="background: rgba(0,0,0,0.50); height: 85%">
    <b class="light-text">Для получения скидки, при оформлении заказа - предоплата 100%</b>
    <br>
    <b class="light-text">СИСТЕМА СКИДОК до 01.11.16:</b>
    <ul class="light-text">
        <li>СКИДКА -10% по 30 сентября 2016</li>
        <li>СКИДКА -5% до 16 октября 2016</li>
        <li>СКИДКА -3% до 01 ноября 2016</li>
    </ul>
    <b class="light-text">СИСТЕМА СКИДОК после 01.11.16:</b>
    <ul class="light-text">
        <li>от 50 шт.- 2%</li>
        <li>от 100 шт.-3%</li>
        <li>от 200 шт.-4%</li>
        <li>от 300 шт.5%</li>
        <li>от 500 шт.-8%</li>
    </ul>
</div>