<div *ngIf="view=='full'" style="overflow: auto;" class="equip-component callout cursor-default" (click)="openModal($event)">
    <div class="row" style="flex-wrap: nowrap">
        <div class="img-div">
            <div class="image" [ngStyle]="{'background-image':'url(' +davservice.url+equip?.image_link + ')'}"></div>
            <b style="color: #e6e6e6; font-size: 1.2rem">{{equip?.name}}</b>
            <div class="text-center" style="display: flex;flex-direction: column">
                <b style="color: #e6e6e6; font-size: 1.2rem">Цена: {{equip?.price}} p</b>
                <b style="color: #e6e6e6; font-size: 1.2rem">Вес: {{equip?.weight}} г</b>
            </div>
        </div>
        <div style="width: 50%;">
            <div *ngFor="let item of collection" style="display: flex;">
                <div class="callout" style="width: 20%;padding: 0;display: flex;
align-items: center;align-content: center;justify-content: center">
                    <b style="color: #e6e6e6">{{item.quantity}}</b>
                </div>
                <sweet-comonent [view]="'line'" [sweet]="item?.sweet"></sweet-comonent>
            </div>
        </div>
    </div>
</div>
<div *ngIf="view=='line'" class="callout" style="width: 14rem; height: 2rem; padding: 0.1rem"
     (click)="openModal($event)">
    <div class="text-center">
        <b style="color: #e6e6e6;">{{equip.name}}</b>
    </div>
</div>
