<div class="row small-12 middle-12 large-12">
    <div class="small-3 middle-2 large-2 callout columns" style="height: 85%;margin-left: 1rem;margin-right: 0.5rem">
    <b style="color: #e6e6e6">Место для всякой реламы</b>
    </div>
    <div class="small-8 middle-9 large-9 callout columns cursor-default"
         style="height: 85%;margin-left: 1rem;margin-right: 0.5rem;color: #e6e6e6;overflow: auto;background: rgba(0,0,0,0.50);">
        <b>Оплата подарков</b>
        <br>
        <p>
            После оформления заказа по оставленному номеру телефона или адресу электронной почты с Вами свяжется
            менеджер, чтобы уточнить все детали и согласовать заказ.
            Мы всегда стараемся отреагировать на Вашу заявку максимально оперативно, однако, в некоторых случаях время
            реакции может составлять до 24 часов.
        </p>
        <ul>
            <li>
                ДЛЯ ФИЗИЧЕСКИХ ЛИЦ : Оплата производится за наличный расчет в нашем офисе по адресу г.Орел , ул.МОПРа,
                д.24 оф.128.
                После согласования всех деталей менеджер оформляет заказ , товары в котором будут зарезервированы на три
                дня. За это время Вам необходимо прийти к нам в офис по адресу г.Орел, ул.МОПРа, д.24.и внести
                предоплату

            </li>
            <li>
                ДЛЯ ЮРИДИЧЕСКИХ ЛИЦ : Оплата производится за наличный расчет в нашем офисе по адресу г.Орел , ул.МОПРа,
                д.24 оф.128 или по выписанному счету.
                После согласования всех деталей заказа оформляется договор. Затем Вам будет выставлен счёт на
                предоплату, товары в заказе будут зарезервированы на три дня . За это время Вам необходимо оплатить счёт
                или внести предоплату наличными в нашем офисе по адресу г.Орел, ул.МОПРа, д.24.
                Все необходимые финансовые документы будут отправлены вместе с товаром при доставке , или отданы вам
                лично при самовывозе.
            </li>
        </ul>
        <p>
            Для получения скидки , при оформлении заказа - предоплата 100%
        </p>

        <b>АКЦИЯ "ПОСТОЯННЫЙ ПОКУПАТЕЛЬ"</b>
       <div class="text-center">
           Если Вы заказываете у нас подарки
           3 года подряд Вам положен "ПОДАРОК В ПОДАРОК"
           он не зависит от Вашего заказа и для всех участников акции одинаковый
       </div>

    </div>
</div>