<div class="nav-component top-bar row expanded" style="justify-content: flex-start;">

<div class="small-3 medium-2 large-2 columns">
    <button style="margin-right:2rem; font-size: 1.5rem; color: #e6e6e6" class="{{currentIcon}} cursor-default">
        {{currentPosition}}
    </button>
</div>
    <button *ngFor="let item of list"  routerLink="{{item.link}}" class="button light hollow" style="background: rgba(0,0,0,0.55)"><b>{{item.name}}</b></button>
    <button routerLink="/bucket" (click)="openForm($event)" class="button light hollow" style="background: rgba(0,0,0,0.55)">
        <div>
            <b>Корзина</b>
        </div>
        <div>
            <b>{{bs.bucket?.sum}} р</b>
        </div>
    </button>
    <button *ngIf="auth.token!=null" (click)="auth.logout()" class="button light hollow" style="background: rgba(0,0,0,0.55)"><b>Выход</b></button>
</div>