<div class="pack-component callout cursor-default">
    <div  class="img-div" (click)="openModal($event)">
        <div class="image" [ngStyle]="{'background-image':'url(' +davservice.url+pack?.image_link + ')'}" ></div>

    </div>
    <div  class="text-center">
        <b style="color: #e6e6e6;">{{pack?.name}}</b>
    </div>
</div>

