<div class="overlay">
    <div class="callout small  modal bigmodal">
        <h6>
            <span class="fa fa-image" style="margin-right: 1rem"></span>
            <b>{{packModal?.pack?.name}}</b>
        </h6>

        <div style="display: flex; margin-bottom: 1rem">
            <div style="display: flex;align-content: center; justify-content: center; width: 50%">
                <div class="image"
                     [ngStyle]="{'background-image':'url(' +davservice.url+ packModal?.pack?.image_link + ')'}"></div>
            </div>

            <div style="display: flex;align-content: center; justify-content: center;flex-direction: column; width: 50%;">
                <span style="margin-right: 2rem; width: 5rem">
                        <b>Артикул:</b>
                        <p>{{packModal?.pack?.id}}</p>
                </span>
                <div style="display: flex">
                    <span style="margin-right: 2rem; width: 5rem">
                        <b>Материал:</b>
                        <p>{{catalogservice.getPacktypeById(packModal.pack.material)?.name}}</p>
                    </span>
                </div>
                <div *ngIf="!packModal.pack?.sale" style="display: flex;flex-direction: column">
                    <div>
                        <b>Комплектация:</b>
                    </div>
                    <div>
                        <select [(ngModel)]="equipid" (change)="setEquip()">
                            <option value="empty">Без содержимого</option>
                            <option *ngFor="let item of catalogservice.equiplist" value="{{item.id}}">{{item?.name}}
                            </option>
                        </select>
                    </div>

                </div>
                <div style="height: 8rem;width: 20rem;overflow: auto">
                    <b>Описание:</b>
                    {{packModal?.pack?.description}}
                </div>
                <br>

                <div style="display: flex; height: 3rem">
                    <b style="font-size: 1.5rem; margin-right: 1rem">{{packModal?.pack.price*quantity}} р</b>
                    <b style="font-size: 1.5rem; margin-right: 1rem">{{packModal?.pack.weight*quantity}} г</b>
                    <input [(ngModel)]="quantity" type="number" style="height: 100%;width: 5rem;"
                           placeholder="Количество">
                    <button class="button primary fa fa-shopping-cart" style="height: 100%;width: 5rem"
                            (click)="addToBucket(packModal?.pack)"></button>

                </div>
            </div>

        </div>
        <div style="display: flex;align-content: center; justify-content: center; margin-bottom: 2rem" class="controls">
            <button (click)="close()" class="button hollow primary ">Закрыть</button>
        </div>
    </div>


</div>
