<div class="row small-12 middle-12 large-12 ">
    <div class="small-3 middle-2 large-2 callout columns" style="height: 85%;margin-left: 1rem;margin-right: 0.5rem">
        <select *ngIf="entity=='digest'" [(ngModel)]="digest">
            <option value="type">Тип продукта</option>
            <option value="packtype">Вид упаковки</option>
            <option value="factory">Фабрика</option>
        </select>
        <input [(ngModel)]="filterMain" type="text" placeholder="Найти">
    </div>
    <div class="callout columns"
         style="display: flex;flex-wrap: nowrap; height: 85%; overflow: auto">
        <div class="columns" style="display: flex; flex-direction: row;flex-wrap: wrap; overflow: auto">
            <pack-component *ngFor="let item of catalogservice.packlist | filter:{sale: true} | filter:{name:filterMain}"
                            [pack]="item"></pack-component>
        </div>
    </div>
    <sweet-modal-component *ngIf="catalogservice.sweetModal.visible"
                           [sweetModal]="catalogservice.sweetModal"></sweet-modal-component>
    <pack-modal-component *ngIf="catalogservice.packModal.visible"
                          [packModal]="catalogservice.packModal"></pack-modal-component>
</div>
