<div *ngIf="view=='full'" class="sweet-component callout text-center cursor-default" (click)="openModal($event)">
    <div  class="img-div" >
        <div class="image" [ngStyle]="{'background-image':'url(' +davservice.url+sweet?.image_link + ')'}" ></div>
    </div>

    <div class="text-center" style="display: flex;flex-direction: column;margin-bottom: 0.2rem">
        <b style="color: #e6e6e6">{{sweet?.name}}</b>
        <b style="color: #e6e6e6">Цена: {{sweet?.price}} p</b>
        <b style="color: #e6e6e6">Вес: {{sweet?.weight}} г</b>
    </div>
</div>
<div *ngIf="view=='line'" class="callout cursor-default" style="width: 14rem; height: 2rem; padding: 0.1rem" (click)="openModal($event)">
    <div class="text-center">
        <b style="color: #e6e6e6;">{{sweet?.name}}</b>
    </div>
</div>
