<div class="overlay">
    <div class="callout small  modal bigmodal">
        <h6>
            <span class="fa fa-image" style="margin-right: 1rem"></span>
            <b>{{sweetModal?.sweet?.name}}</b>
        </h6>

        <div style="display: flex; margin-bottom: 1rem">
            <div style="display: flex;align-content: center; justify-content: center; width: 50%">
                <div class="image"
                     [ngStyle]="{'background-image':'url(' +davservice.url+ sweetModal?.sweet?.image_link + ')'}"></div>
            </div>

            <div style="display: flex;align-content: center; justify-content: center;flex-direction: column; width: 50%;">
                <span style="margin-right: 2rem; width: 5rem">
                        <b>Артикул:</b>
                        <p>{{sweetModal?.sweet?.id}}</p>
                </span>
                <div style="display: flex">
                    <span style="margin-right: 2rem; width: 5rem">
                        <b>Тип:</b>
                        {{type?.name}}
                    </span>
                    <span style="margin-right: 2rem; width: 5rem">
                        <b>Вид:</b>
                        <p>{{sweetModal?.sweet?.subtype}}</p>
                    </span>
                    <span style="margin-right: 2rem; width: 5rem">
                    <b>Прозводитель:</b>
                    {{factory?.name}}
                    </span>
                    <span style="margin-right: 2rem; width: 5rem">
                    </span>
                </div>
                <div style="height: 8rem;width: 20rem;overflow: auto">
                    <b>Описание:</b>
                    {{sweetModal?.sweet?.description}}
                </div>

            </div>

        </div>
        <div style="display: flex;align-content: center; justify-content: center; margin-bottom: 2rem" class="controls">
            <button (click)="close()" class="button hollow primary ">Закрыть</button>
        </div>
    </div>


</div>
